@import "../../../materialize-src/sass/materialize";

main {
  flex : 1 0 auto;
}

nav, .card, #chat-box {
  background-color : $primary-color;
}

footer {
  position         : fixed;
  bottom           : 0;
  background-color : color("transparent", "base");
  width            : 100%;

  .row {
    margin-bottom : 0;
  }
}